{
  "extends": "airbnb",
  "plugins": ["jest"],
  "env": {
    "jest/globals": true,
    "browser": true,
    "node": true,
  },
  "rules": {
    "no-unused-vars": ["error", {"argsIgnorePattern": "next"}],
    "indent": [2, "tab"],
    "no-tabs": 0
  },
}
